Repository JeeSeongDeok/My_Refrigerator, pull requests merged in 2021-07, with the labels that each got.

#2 SignupActivity 코드리뷰 요청입니다.
  app/src/main/java/com/example/myrefrigerator/views/SignupActivity.kt
  app/src/main/res/layout/activity_signup.xml
Labels: Front end, SignupActivity

#1 2021.07.14 메인 엑티비티
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/myrefrigerator/views/LoginActivity.kt
  app/src/main/java/com/example/myrefrigerator/views/MainActivity.kt
  app/src/main/java/com/example/myrefrigerator/views/SignupActivity.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/menu/toolbar_menu.xml
  build.gradle
Labels: Front end, MainActivity

#5 Heydosomething branch
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/myrefrigerator/model/Okhttp3RetrofitManager.kt
  app/src/main/java/com/example/myrefrigerator/model/RetrofitInterface.kt
  app/src/main/java/com/example/myrefrigerator/model/TodosItem.kt
  app/src/main/java/com/example/myrefrigerator/views/MainActivity.kt
  app/src/main/java/com/example/myrefrigerator/views/SignupActivity.kt
  app/src/main/java/com/example/myrefrigerator/views/testActivity.kt
  app/src/main/res/drawable/ic_baseline_build_24.xml
  app/src/main/res/drawable/ic_baseline_camera_alt_24.xml
  app/src/main/res/drawable/ic_baseline_home_24.xml
  app/src/main/res/layout/activity_test.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_menu.xml
  app/src/main/res/navigation/nav_graph.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
Labels: Back end, SignupActivity

#6 Retrofit2 연결 코드 올립니다.
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/myrefrigerator/model/ExampleInterface.kt
  app/src/main/java/com/example/myrefrigerator/model/Okhttp3RetrofitManager.kt
  app/src/main/java/com/example/myrefrigerator/model/RetrofitBuilder.kt
  app/src/main/java/com/example/myrefrigerator/model/RetrofitInterface.kt
  app/src/main/java/com/example/myrefrigerator/model/Student.kt
  app/src/main/java/com/example/myrefrigerator/model/TodosItem.kt
  app/src/main/java/com/example/myrefrigerator/views/testActivity.kt
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/navigation/nav_graph.xml
  build.gradle
Labels: Back end, SignupActivity

#8 2021.07.19/homeFragment
  app/src/main/java/com/example/myrefrigerator/FRAGMENTS/HomeFragment.kt
  app/src/main/res/layout/fragment_home.xml
Labels: Front end, main/home

#10 2021.07.19_retrofit2_fixv2
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/myrefrigerator/model/ExampleInterface.kt
  app/src/main/java/com/example/myrefrigerator/model/RetrofitBuilder.kt
  app/src/main/java/com/example/myrefrigerator/model/UserInfo.kt
  app/src/main/java/com/example/myrefrigerator/viewmodel/SignupViewModel.kt
  app/src/main/java/com/example/myrefrigerator/views/testActivity.kt
  app/src/main/res/layout/activity_test.xml
Labels: Back end, SignupActivity

#9 2021.07.21/menu기초 디자인
  app/src/main/java/com/example/myrefrigerator/FRAGMENTS/HomeFragment.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_menu.xml
Labels: Front end, main/home

#11 2021.07.22/menufragment에 대해서
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/myrefrigerator/FRAGMENTS/HomeFragment.kt
  app/src/main/java/com/example/myrefrigerator/FRAGMENTS/menuFragment.kt
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/dialog_addfood.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_menu.xml
Labels: Front end, main/menu

#15 2021.07.25 Retrofit2 POST, GET
  .idea/dictionaries/admin.xml
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/myrefrigerator/data/UserInfo.kt
  app/src/main/java/com/example/myrefrigerator/model/APIInterface.kt
  app/src/main/java/com/example/myrefrigerator/model/ExampleInterface.kt
  app/src/main/java/com/example/myrefrigerator/model/RetrofitBuilder.kt
  app/src/main/java/com/example/myrefrigerator/model/Student.kt
  app/src/main/java/com/example/myrefrigerator/model/UserInfo.kt
  app/src/main/java/com/example/myrefrigerator/viewmodel/LoginViewModel.kt
  app/src/main/java/com/example/myrefrigerator/viewmodel/SignupViewModel.kt
  app/src/main/java/com/example/myrefrigerator/views/SignupActivity.kt
Labels: Back end, SignupActivity

#13 2021.07.24/Mainactivity 및 소스 수정
  app/src/main/java/com/example/myrefrigerator/views/MainActivity.kt
  app/src/main/java/com/example/myrefrigerator/views/SignupActivity.kt
  app/src/main/res/menu/nav_menu.xml
  app/src/main/res/navigation/nav_graph.xml
Labels: Front end, MainActivity

#14 2021.07.25/intent
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/myrefrigerator/Custom.kt
  app/src/main/java/com/example/myrefrigerator/FRAGMENTS/HomeFragment.kt
  app/src/main/java/com/example/myrefrigerator/FRAGMENTS/menuFragment.kt
  app/src/main/java/com/example/myrefrigerator/views/AllShelfLife.kt
  app/src/main/java/com/example/myrefrigerator/views/MainActivity.kt
  app/src/main/res/layout/activity_allshelflife.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/layout/dialog_addfood.xml
Labels: Front end, MainActivity, main/home

#16 2021.07.25 Retrofit2 POST, GET v2
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/myrefrigerator/viewmodel/LoginViewModel.kt
  app/src/main/java/com/example/myrefrigerator/viewmodel/SignupViewModel.kt
  app/src/main/java/com/example/myrefrigerator/views/SignupActivity.kt
Labels: Front end, MainActivity

#17 2021.07.27/리사이클뷰
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/myrefrigerator/Adapter/AllShelfLifeAdapter.kt
  app/src/main/java/com/example/myrefrigerator/Custom.kt
  app/src/main/java/com/example/myrefrigerator/data/AllShelfLifeListView.kt
  app/src/main/java/com/example/myrefrigerator/views/AllShelfLife.kt
  app/src/main/res/layout/activity_allshelflife.xml
  app/src/main/res/layout/activity_listview.xml
  build.gradle
Labels: AllShelfLife, Front end

#19 2021.07.28
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/myrefrigerator/FRAGMENTS/musicFragment.kt
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/layout/fragment_music.xml
Labels: Front end

#20 2021.07.29/setting
  app/src/main/java/com/example/myrefrigerator/FRAGMENTS/musicFragment.kt
  app/src/main/res/layout/activity_allshelflife.xml
  app/src/main/res/layout/dialog_settingnickname.xml
  app/src/main/res/layout/dialog_settingsound.xml
  app/src/main/res/layout/fragment_music.xml
Labels: Front end
